services:
  health-check-db:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: health_check_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
